/DesignPatterns/nbproject/private/
/DesignPatterns/build/
/ImageCompression/nbproject/private/
/RunTimeCalculator/nbproject/private/
/RunTimeCalculator/build/
/RunTimeCalculator/dist/
/common-lib/nbproject/private/
/BCryptTest/nbproject/private/
/BCryptTest/build/
/password-hashing/nbproject/private/
/password-hashing-tech-comparison/nbproject/private/
/password-hashing-tech-comparison/build/